*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ADEFD1FF;
}



.conainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

/* computer side style. */

.Firstbox{
     margin-right: 30rem;
}

.Firstbox h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
    font-weight: 200;
}

.Firstbox  button{
    border-radius: 10px;
    padding: 10px 20px 10px 20px ;
    text-align: center;
    cursor: pointer;
    margin-left: 40px;
    text-decoration: none;  
    font-size: 20px;
    color: white;
    background-color: #00203FFF;
}

.Firstbox  button:hover{
    background-color: rgb(26, 83, 140);
}

/* user side styling */

.right h1{
    margin-left: 45px;
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
    font-weight: 200;
}

.rightoption button{
    border-radius: 10px;
    padding: 10px 20px 10px 20px ;
    text-align: center;
    cursor: pointer;
    margin-left: 40px;
    text-decoration: none;  
    font-size: 20px;
    color: white;
    background-color: #00203FFF;
}

.rightoption button:hover{

    background-color: rgb(26, 83, 140);
    
}

/* reslut side styling */

.resuleside h2{
             text-decoration: 200;
             align-items: center;
             margin-left: 20rem;
             margin-top: 20px;
}

.resuleside p{
             align-items: center;
             margin-left: 20rem;
             margin-top: 10px;
             font-size: 15px;
}

/* total win lose styling */

.result2marks{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}


.result2marks p{
        text-align: center;
}